{% include 'header.jinja' %}
<title>
Home - LoginApp
</title>
</head>
<body>
{% include 'menu.html.jinja' %}
<main class="login-page">
<div class="hero">

    <h2>
    Access The DataBase Credentials.<br/> 
    </h2>
    <a href="/creds">
        <button>
            Get Credentials 
        </button> 
    </a>

</div>
</main>
{% include 'footer.jinja' %}
<script src="/static/js/index.js"></script>
</body>